apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: jekyllapp-ENVIRONMENT
spec:
  selector:
    matchLabels:
      app: jekyllapp-ENVIRONMENT
  replicas: 3
  template:
    metadata:
      labels:
        app: jekyllapp-ENVIRONMENT
    spec:
      containers:
      - name: jekyllapp-ENVIRONMENT
        image: jacopen/jekyllapp:TAG
        resources:
          requests:
            cpu: 100m
            memory: 500Mi
        env:
        - name: ENV
          value: ENVIRONMENT
        - name: DB_HOST
          value: ENVIRONMENT
        ports:
        - containerPort: 8080
